{% extends "network/layout.html" %}
{% load static %}

{% block script %} 
    <script src="{% static "network/index.js" %}"></script>
    <script>
        var like_post_data = JSON.parse('{{ like_post_json|escapejs }}');
    </script>
{% endblock script %}

{% block body %}
    {% if page_obj %}
        {% include "network/helpers/page_obj.html" %}
        {% include "network/helpers/pagination_posts.html" %}
    {% else %}
        <div class="text-center">
            <h3>Your following page is empty</h3>
            <span class="text-black-50">Follow other users to see their posts here</span>
        </div>
    {% endif %}
{% endblock %}