{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if page_obj %}
        {% for post in page_obj %}
            <div class="my-3">
                <a href="{% url "profile" post.user %}" class="text-reset text-decoration-none">
                    <h4><strong>{{post.user.username}}</strong></h4>
                </a>
                <div>{{post.content}}</div>
                <span class="text-black-50">{{post.datetime}}</span>
            </div>
            <hr>
        {% endfor %}
        {% include "network/helpers/pagination_posts.html" %}
    {% else %}
        <div class="text-center">
            <h3>Your following page is empty</h3>
            <span class="text-black-50">Follow other users to see their posts here</span>
        </div>
    {% endif %}
{% endblock %}