{% extends "network/layout.html" %}
{% load static %}

{% block script %} 
    <script src="{% static "network/index.js" %}"></script>
{% endblock script %}

{% block body %}
    <button id="add-new-post-form-open-button" class="btn btn-dark">+ Add New Post</button>
    <form id="add-new-post-form" method="POST" action="{% url "create_post" %}" class="grey-border p-1 my-2 position-relative">
        {% csrf_token %}
        <button id="add-new-post-form-close-button" type="button" class="close position-absolute btn" style="top:0; right:5px;" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="d-flex justify-content-center my-3">
            <div class="mx-2">
                <h1 class="text-center"><labelfor="add-new-post-form-textarea">New Post</labelfor=></h1>
            </div>
            <div class="d-flex align-items-center mx-2">
                <button id="add-new-post-form-create-button" class="btn btn-primary btn-lg">Create</button>
            </div>
        </div>
        <div class="my-3">
            <div class="mx-5">
                <textarea id="add-new-post-form-textarea" class="form-control" name="add-new-post-form-textarea" rows="3"></textarea>
            </div>
        </div>
    </form>
    <hr>
    <div>
        {% for post in page_obj %}
            <div class="my-3">
                <a href="{% url "profile" post.user %}" class="text-reset text-decoration-none">
                    <h4><strong>{{post.user.username}}</strong></h4>
                </a>
                <div>{{post.content}}</div>
                <span class="text-black-50">{{post.datetime}}</span>
            </div>
            <hr>
        {% endfor %}
    </div>
    {% include "network/helpers/pagination_posts.html" %}
{% endblock %}