{% extends "network/layout.html" %}
{% load static %}

{% block script %} 
    <script>
        const isFollowing = "{{ is_following }}";
    </script>
    <script src="{% static "network/profile.js" %}"></script>
{% endblock script %}

{% block body %}
    <div class="row mb-4">
        <div class="d-flex col-lg-4">
            <div>
                <h1 id="profile_username">{{profile_user}}</h1>
            </div>
            {% if request.user != profile_user and user.is_authenticated %}
                <div class="mx-3 d-flex align-items-center justify-content-left">
                    <button id="profile-button-follow-unfollow" class="btn btn-primary">Follow</button>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-8 row d-flex align-items-end justify-content-left">
            <div class="col">
                <h4>followers: {{followers_count}}</h4>
            </div>
            <div class="col">
                <h4>following: {{following_count}}</h4>
            </div>
        </div>
    </div>
    <hr>
    <div>
        {% for post in posts %}
            <div class="my-3">
                <h4><strong>{{post.user.username}}</strong></h4>
                <div>{{post.content}}</div>
                <span class="text-black-50">{{post.datetime}}</span>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock body %}